<head th:fragment="name_head" xmlns="http://www.w3.org/1999/html">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="baseUrl" th:attr="content=${baseUrl}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/app.css}">
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">

</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="name_navbar">
    <a class="navbar-brand" th:href="@{/}">
        <img alt="" class="d-inline-block align-top" th:src="@{/static/logo.jpg}">
    </a>

    <a class="navbar-brand" th:href="@{/}">
        <h3>Brands</h3>
        <!--    <img th:src="@{/brands.html}" class="d-inline-block align-top" alt="">-->
    </a>

    <a class="navbar-brand" th:href="@{/products}">
        <h3>Products</h3>
        <!--    <img th:src="@{/brands.html}" class="d-inline-block align-top" alt="">-->
    </a>

    <a class="navbar-brand" th:href="@{/inventories}">
        <h3>Inventories</h3>
    </a>

    <a class="navbar-brand" th:href="@{/orders}">
        <h3>Orders</h3>
    </a>

    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav"
            data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<footer class="text-center text-lg-start bg-light text-muted footer" th:fragment="name_footer">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a class="me-4 text-reset" href="">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="me-4 text-reset" href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="me-4 text-reset" href="">
                <i class="fab fa-google"></i>
            </a>
            <a class="me-4 text-reset" href="">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="me-4 text-reset" href="">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="me-4 text-reset" href="">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Company name
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a class="text-reset" href="#!">Angular</a>
                    </p>
                    <p>
                        <a class="text-reset" href="#!">React</a>
                    </p>
                    <p>
                        <a class="text-reset" href="#!">Vue</a>
                    </p>
                    <p>
                        <a class="text-reset" href="#!">Laravel</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a class="text-reset" href="#!">Pricing</a>
                    </p>
                    <p>
                        <a class="text-reset" href="#!">Settings</a>
                    </p>
                    <p>
                        <a class="text-reset" href="#!">Orders</a>
                    </p>
                    <p>
                        <a class="text-reset" href="#!">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <div aria-atomic="true" aria-live="polite" style="position: relative; " th:fragment="name_toast">
        <!-- Position it -->
        <div style="position: absolute; top: 0; right: 0;">

            <div aria-atomic="true" aria-live="assertive" class="toast" id="toast" role="alert">
                <div class="toast-header">
                    <strong class="mr-auto" id="toast-heading">Bootstrap</strong>
                    <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    <h6 id="toast-message">Success</h6>
                    <!--                <br>-->
                    <button class="btn" id="download-errors"><b>Download Errors</b></button>
                </div>
            </div>
        </div>
    </div>
    <!--  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast" th:fragment="name_toast">-->
    <!--    <div class="toast-header">-->
    <!--       <strong class="mr-auto" id="toast-heading">Bootstrap</strong>-->
    <!--          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">-->
    <!--            <span aria-hidden="true">&times;</span>-->
    <!--          </button>-->
    <!--    </div>-->
    <!--  <div class="toast-body">-->
    <!--    Hello, world! This is a toast message.-->
    <!--    <div class="mt-2 pt-2 border-top">-->
    <!--      <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-download"></i> Download Errors</button>-->
    <!--      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Copyright Increff 2019
        &nbsp;
        [[${info.getMessage()}]]
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script th:src="@{/static/app.js}"/>
        </script>
        <script th:src="@{/static/papaparse.min.js}"/>
        </script>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->